<!DOCTYPE html>
<html lang="en">

{{template "header" .}}


<body>

    <title>Me - About</title>

    <div id="left" class="column">
        <div class="top-left"></div>
        <div class="bottom-left">
          <div id="navbar"></div>
        </div>
    </div>

    <div id="right" class="column">
        <div class="right">About me. I have been programming for 3 months I made 1 site and a whole discord bot about the first site It was made but it is buggy and swiftness about the bot it is quite simple shortcuts for it will be here(https://top.gg/bot/702555544480645191) I have also studied Python and Golang for 3 weeks or more            .</div>
    </div>

</body>

</html>
