<!DOCTYPE html>


{{template "header" .}}


<body>

    <title>Website - Projects</title>
    
    <div id="left" class="column">
        <div class="top-left"></div>
        <div class="bottom-left">
          <div id="navbar"></div>
        </div>
    </div>

    <div id="right" class="column">
        <div class="right">
          <h3>Baget.Bot</h3>
          <br>
          <p>Hi friend here will be about my beautiful bot
            This bot has more than 50 commands
            I made it more than 3 months ago in Python and using the Bible library discord.py 
            What is included in the 50 teams?
            And a lot of things from the simplest Hello and to the sapper.</p>
        </div>
    </div>

</body>

</html>
